body {
	font-family: Helvetica;
	font-size: 13px;
}

h1 {
	text-align: center;
}

ul.chat-message {
    background-color: #DDDDDD;
    padding-left: 30px;
    margin-left: 0px;
    margin-right: 3px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.chat-message li {
    background-color: #FFFFFF;
 	list-style: none;
}

.chat-message li:before {
	/* For a round bullet */
	/*content:'\2022';*/
	/* For a square bullet */
	content:'\25A0';
	display: block;
	position: relative;
	max-width: 0px;
	max-height: 0px;
	left: -16px;
	top: 1px;
	color: green;
	font-size: 10px;
}

.hidden {
	display: none;
}

#login_dialog {
	width: 600px;
}

#log {
	padding: 10px;
}

#console {
	float: left;
	height: 500px;
	width: 660px;
	border: solid 1px #aaa;
	background-color: #000;
	color: #eee;
	font-family: monospace;
	overflow: auto;
}

#input {
	width: 100%;
	height: 100px;
	font-family: monospace;
}

.incoming {
	background-color: #444444;
}

.log {
	background-color: #CCCCCC;
	color: #000000
}

textarea.disabled {
	background-color: #bbb;
}

#buttonbar {
	margin: 10px;
}

#disconnect {
	width: 100px;
}

#send_button {
	float: right;
	width: 100px;
}

.button {
	position: relative;
	cursor: pointer;
	outline: none;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1;
	font-size: 13px;
	font-weight: normal;
	padding: 6px 16px;
	border-radius: 4px;
	background-color: #f3f3f3;
	background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e1e1e1));
	background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: linear-gradient(top, #ffffff, #e1e1e1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=0);
	border: 1px solid #dadada;
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	border-bottom-color: #a9a9a9;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 1px 0 rgba(255, 255, 255, 0.6);
	text-shadow: 0 1px 0px #ffffff;}

.button, .button:hover {
	color: #000;
}

.button:hover {
	filter: none;
	background: none;
	background: #eee;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
	text-decoration: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

#toolbar {
	float: right;
	text-align: center;
	margin-bottom: 15px;
}

#chat-area {
	font-size: 13px;
	float: left;
	width: 700px;
	height: 600px;
}

.chat-messages {
	height: 450px;
	width: 100%;
	border-top: solid 2px #ddd;
	border-bottom: solid 2px #ddd;
	border-left: solid 2px #ddd;
	overflow: auto;
}

#topic-label {
	margin-bottom: 5px;
	margin-left: 10px;
}

.chat-topic {
	margin-bottom: 5px;
	width: 90%;
}

.chat-input {
	float: right;
	margin-top: 5px;
	width: 100%;
}

.chat-time {
	float:right;	
	color: #c33;
}

.chat-tooltip {
	background: rgba(128,128,0,0.9);
	position: fixed;
	color: #000;
	padding: 5px;
	max-width: 250px;
	-webkit-border-radius: 5px; /* Saf3+, Chrome */
	   -moz-border-radius: 5px; /* FF1+ */
	        border-radius: 5px; /* Opera 10.5, IE 9 */
	text-align: center;
	display: none;
}

.no-js li:hover .chat-tooltip {
	display: block;
}

#roster-area, #muc-area {
	float: left;
	border-left: solid 2px #ddd;
	padding: 10px;
	width: 250px;
	height: 300px;
}

.chat-name {
	font-weight: bold;
	color: #c33;
}

.chat-message {
	color: #33c;
}

.me {
	background-color: #aaa;
}

.chat-event {
	font-style: italic;
	font-size: 75%;
}

.roster-contact, .room-entry {
	padding: 3px;
	font-size: 80%;
}

.roster-contact:hover, .room-entry:hover {
	background-color: #aaa;
	color: white;
}

.roster-name, .room-name {
	font-weight: bold;
	font-size: 120%;
}

.online {
	color: #33CC33;
}

.chat {
	color: #88EE55;
}

.away {
	color: #5CA9E4;
}

.xa {
	color: #8800FF;
}

.dnd {
	color: #FF3333;
}

.offline {
	color: #CCCCCC;
}

/* xml styles */
.xml_punc {
	color: #888888;
}
.xml_tag {
	color: #CC3333;
}
.xml_aname {
	color: #5555DD;
}
.xml_avalue {
	color: #7777FF;
}
.xml_text {
	color: #33CC33;
}
.xml_level0 {
	padding-left: 0;
}
.xml_level1 {
	padding-left: 1em;
}
.xml_level2 {
	padding-left: 2em;
}
.xml_level3 {
	padding-left: 3em;
}
.xml_level4 {
	padding-left: 4em;
}
.xml_level5 {
	padding-left: 5em;
}
.xml_level6 {
	padding-left: 6em;
}
.xml_level7 {
	padding-left: 7em;
}
.xml_level8 {
	padding-left: 8em;
}
.xml_level9 {
	padding-left: 9em;
}

.ui-tabs div.ui-tabs-panel {
	padding: 5px 0px 0px 0px;	
}
