
body {
	font-family: Helvetica;
	font-size: 13px;
}

h1 {
	text-align: center;
	margin: 0;
}

ul.chat-message {
    background-color: #DDDDDD;
    padding-left: 30px;
    margin-left: 0px;
    margin-right: 3px;
    margin-bottom: 0px;
    margin-top: 5px;
}

input {
	width: 100%;
}

textarea.disabled {
	background-color: #bbb;
}

#approve-jid {
	font-weight: bold;
}

#my-status {
	height: 30px;
	width: 30px;
	position: absolute;
	margin: 10px 0 0 4px;
}

#my-status > #icon {
	position: absolute;
	width: 100%;
	height: 100%;
}

#my-status.connecting > #icon,
#my-status.connected > #icon {
	margin: 0 0 0 4px;
	background: url("images/connect.png") no-repeat;
}

#my-status.authenticating > #icon {
	margin: 0 0 0 4px;
	background: url("images/authenticate.png") no-repeat;
}

#my-status.disconnecting > #icon,
#my-status.disconnected > #icon {
	margin: 0 0 0 4px;
	background: url("images/disconnect.png") no-repeat;
}

#my-status.available,
#my-status.unavailable,
#my-status.away,
#my-status.xa,
#my-status.dnd,
#my-status.chat,
#my-status.authfail,
#my-status.connfail {
	margin: 3px 0 0 4px;
}

#my-status.available > #icon {
	background: url("images/online.png") no-repeat;
}

#my-status.unavailable > #icon {
	background: url("images/offline.png") no-repeat;
}

#my-status.away > #icon {
	background: url("images/away.png") no-repeat;
}

#my-status.xa > #icon {
	background: url("images/xa.png") no-repeat;
}

#my-status.dnd > #icon {
	background: url("images/dnd.png") no-repeat;
}

#my-status.chat > #icon {
	background: url("images/chat.png") no-repeat;
}


#my-status.connfail > #icon,
#my-status.authfail > #icon {
	background: url("images/error.png") no-repeat;
}

#my-jid {
	margin-left: 5px; 
	text-align: center;
	color: #A9A9A9;
}

#my-nickname {
	margin-left: 50px; 
	font-weight: bold;
	text-align: left;
	display: inline-block;
}

#my-nickname,
#my-jid {
	line-height: 36px;
}

#status_dialog span {
	display: inline-block;
}

#filter {
	background: #FFF;
	border: 1px solid #000;
	color: #2b1e11;
	height: 20px;
	line-height: 20px;
	width: 15%;
	padding: 1px 4px;
	position: absolute;
	float: left;
	border-radius: 20px; 
	   -moz-border-radius: 20px; 
	-webkit-border-radius: 20px;
	/*background:     -webkit-gradient(linear, left top, left bottom, from(#b2a48c), to(#9b8d74));
	background: -moz-linear-gradient(top, #b2a48c, #9b8d74);*/
	text-shadow: rgba(0,0,0,.2) 0 0 5px;
}

#muc-area li,
#roster-area li {
	list-style: none;
}

#muc-area ul,
#roster-area ul {
	padding-left: 20px;
}

#muc-area li:before,
#roster-area li:before  {
	content:'\2022';
	display: block;
	position: relative;
	max-width: 0px;
	max-height: 0px;
	left: -15px;
	top: -6px;
	font-size: 30px;
	color: green;	
}

#content {
	height: auto;
	width: 100%;
	border: none;
}

#login_dialog {
	width: 600px;
}

#log {
	padding: 10px;
}

#input {
	width: 100%;
	height: 100px;
	font-family: monospace;
	vertical-align: bottom;
}

#buttonbar {
	margin: 10px;
}

#send_button {
	float: right;
	width: 100px;
}

#toolbar {
	float: right;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	width: auto;
}

#client {
	width: 1000px;
	height: 733px;
	min-height: 250px;
}

#chat-region {
	vertical-align: top;
}

#roster-area, 
#muc-area {
	width: 25%;
	margin: 0px;
	padding: 2px;
}

#roster-area ul, 
#muc-area ul {
	overflow-y: auto;
	overflow-x: hidden;
}

#roster-area h3, 
#muc-area h3 { 
	text-align: center; 
	margin: 0; 
	padding: 0;
}

#chat-area {
	font-size: 13px;	
	width: 70%;
}

#chat-area,
#roster-area, 
#muc-area {
	height: 640px;
	float: left;
}

#topic-label {
	margin-bottom: 5px;
	margin-left: 10px;
	vertical-align: top;
}

/* THIS DON'T WORK!!
.xmpp-refresh,
.xmpp-protected,
.xmpp-moderator,
.xmpp-occupantCount {
	display: inline-block;
	vertical-align: bottom;
}
*/
.incoming {
	background-color: #444444;
}

.log {
	background-color: #CCCCCC;
	color: #000000;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.chat-message li {
    background-color: #FFFFFF;
 	list-style: none;
}

.chat-message li:before {
	/* For a round bullet */
	/*content:'\2022';*/
	/* For a square bullet */
	content:'\25A0';
	display: block;
	position: relative;
	max-width: 0px;
	max-height: 0px;
	left: -16px;
	top: 1px;
	color: green;
	font-size: 10px;
}

.empty {
	color: #AAA;
}

.hidden {
	display: none;
}

.vertical-divider {
	float: left;
	width: 5px;
	height: 100%;
	background-color: #FFEE55;
	text-align: center;
	vertical-align: middle;
}

.button {
	position: relative;
	cursor: pointer;
	outline: none;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1;
	font-size: 13px;
	font-weight: normal;
	padding: 6px 6px;
	border-radius: 4px;
	background-color: #f3f3f3;
	background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e1e1e1));
	background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: linear-gradient(top, #ffffff, #e1e1e1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=0);
	border: 1px solid #dadada;
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	border-bottom-color: #a9a9a9;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 1px 0 rgba(255, 255, 255, 0.6);
	text-shadow: 0 1px 0px #ffffff;
}

.button, 
.button:hover {
	color: #000;
}

.button:hover {
	filter: none;
	background: none;
	background: #eee;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
	text-decoration: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.chat-messages {
	height: 95%;
	width: 100%;
	border-top: solid 2px #ddd;
	border-bottom: solid 2px #ddd;
	border-left: solid 2px #ddd;
	overflow-y: auto;
	overflow-x: hidden;
}

.log-messages {
	height: 95%;
	width: 100%;
	max-width: 700px;
	max-height: 650px;
	border: solid 1px #aaa;
	background-color: #000;
	color: #eee;
	font-family: monospace;
	overflow-y: auto;
	overflow-x: auto;
}

.chat-topic {
	margin-bottom: 5px;
	width: 90%;
}

.chat-input {
	float: left;
	margin-top: 2px;
	margin-left: 2px;
	width: 100%;
	position: static;
}

.chat-time {
	float:right;	
	color: #c33;
}

.tooltip {
	overflow: visible;
}

.tooltip,
.chat-tooltip {
	background: rgba(252,239,161,1.0);
	border: solid 1px #000000;
	position: fixed;
	color: #000;
	padding: 2px;
	max-width: 250px;
	-webkit-border-radius: 5px; /* Saf3+, Chrome */
	   -moz-border-radius: 5px; /* FF1+ */
	        border-radius: 5px; /* Opera 10.5, IE 9 */
	text-align: center;
	display: none;
	font-size: 10px;
	z-index: 900;
}

.no-js div:hover .tooltip,
.no-js img:hover .tooltip,
.no-js li:hover .chat-tooltip {
	display: block;
}

#roster-area, #muc-area {
	float: left;
}

.chat-name {
	font-weight: bold;
	color: #c33;
}

.chat-message {
	color: #33c;
}

.me {
	background-color: #aaa;
}

.chat-event {
	font-style: italic;
	font-size: 75%;
}

.roster-contact, .room-entry {
	padding: 3px;
	font-size: 80%;
}

.room-entry:hover,
.roster-contact:hover {
	background-color: #aaa;
	color: white;
}

.roster-name, .room-name {
	font-weight: bold;
	font-size: 120%;
}

.online {
	color: #33CC33;
}

.chat {
	color: #88EE55;
}

.away {
	color: #5CA9E4;
}

.xa {
	color: #8800FF;
}

.dnd {
	color: #FF3333;
}

.offline {
	color: #CCCCCC;
}

/* xml styles */
.xml_punc {
	color: #888888;
}
.xml_tag {
	color: #CC3333;
}
.xml_aname {
	color: #5555DD;
}
.xml_avalue {
	color: #7777FF;
}
.xml_text {
	color: #33CC33;
}
.xml_level0 {
	padding-left: 0;
}
.xml_level1 {
	padding-left: 1em;
}
.xml_level2 {
	padding-left: 2em;
}
.xml_level3 {
	padding-left: 3em;
}
.xml_level4 {
	padding-left: 4em;
}
.xml_level5 {
	padding-left: 5em;
}
.xml_level6 {
	padding-left: 6em;
}
.xml_level7 {
	padding-left: 7em;
}
.xml_level8 {
	padding-left: 8em;
}
.xml_level9 {
	padding-left: 9em;
}

.ui-tabs div.ui-tabs-panel {
	padding: 5px 0px 0px 0px;	
}
